.float100 {
    width: 100%;
}
.float50 {
    float: left;
    width: 48%;
    margin: 1%;
}
.regform {
    width: 350px;
    background-color: antiquewhite;
    margin: auto;
    padding: 20px;
}
.text-align {
    text-align: center;
}
.button {
    background-color: cadetblue;
    color: white;
    border: 0;
    padding: 7px;
    margin: 15px;
    font-style: italic;
}
.button-div {
    text-align: center;
}
.card {
    background-color: lightpink;
    width: 150px;
    padding: 5px;
    font-size: 14px;
    margin: 20px;
    display: inline-block;
}