<div class="loginform">
    <h1 class="text-align">Login</h1>
    <div>
      <form>
        <div class="float100">
          <div class="float50">
            <label for="" id="n">Enter Name: </label>
          </div>
          <div class="float50">
            <input type="text" name="" id="user" placeholder="Enter name" >
          </div>
        </div>
        <div class="float100">
          <div class="float50">
            <label for="" id="c">Enter Password: </label>
          </div>
          <div class="float50">
            <input type="password" name="" id="course" placeholder="Enter password" >
          </div>
          <div class="button-div">
            <input type="submit" value="Login" class="button">
          </div>
        </div>
      </form>
      <!-- <p>User name: {{ loginForm.value }}</p> -->
      <!-- <p>{{ loginForm.status }}</p> -->
    </div>
  </div>
  